<div id="<%= dom_id entry %>" class="entry thumbnail">
  <%= link_to entry_path(entry), data: { toggle: "modal", target: "#modal" } do %>
    <%= image_tag entry.image.url %>
  <% end %>

  <div id="modal_<%= dom_id entry %>" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
  </div>
</div>