<div id="entries-list" class="col-sm-10">
  <div id="dropzone-queue" class="dropzone-previews"></div>

  <% if @entries.empty? %>
    <p class="text-center">Drag something here to upload!</p>
  <% else %>
    <div id="infinite-entries">
      <%= render @entries %>
    </div>

    <p class="pagination clearfix">
      <%= link_to_next_page @entries, "Next Page", remote: true %>
    </p>
  <% end %>
</div>