<div class="col-sm-12">
  <% unless request.xhr? %>
    <h1>
      <%=t ".title", default: [:"helpers.titles.edit", "Edit %{model}"], model: Album %>
    </h1>
  <% end %>
  <%= render "form" %>
</div>