/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require cyborg.bootstrap.min
*= require dropzone
*= require token-input-mac
*= require_tree .
*= require_self
*/

@import "font-awesome-sprockets";
@import "font-awesome";

//->Prelang (ui_framework:twitter_bootstrap)

// Give everything in 'yield' margin to separate it.
.yield {
  margin: 30px;
}

// Constrain forms for models (scaffolded models) so they aren't full page width.
.form-model {
  max-width: 750px;
}

//->Prelang (user_login:devise)
.form-user {
  max-width: 450px;
}

// sticky footer
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 20px 0;
  border-top: 1px solid #282828;

  .text-muted {
    color: #f5f5f5;
  }
}

/* Nested Stacked Nav */

ul.nav-stacked > li > a > i {
  float: right;
}
ul.nav-stacked ul.nav-stacked {
  margin-bottom: 0;
}
ul.nav-stacked ul.nav-stacked > li > a {
  padding-left: 2em;
}
ul.nav-stacked ul.nav-stacked > li:first-child > a {
  border-radius: 0;
  border-top: 0;
}
ul.nav-stacked ul.nav-stacked > li:last-child:visible > a {
  border-radius: 0;
  border-bottom: 0;
}
.nav-stacked > .active > a,
.nav-stacked > .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
  cursor: pointer;
}

/* Entries */

#entries.dropzone {
  padding: 0;
}

.form-model img {
  max-width: 100%;
}

#entries-list {
  overflow: hidden;
  min-height: 400px;
  padding: 0;

  > figure {
    width: 48%;
    float: left;
    box-sizing: border-box;
    margin: 0 15px 15px 0;
    position: relative;
    overflow: hidden;

    figcaption {
      margin-top: 20px;

      input[type="text"] {
        width: 100%;
        padding: 5px 10px;
      }
    }

    img {
      width: 100%;
    }

    .entry-tools {
      background: #333;
      opacity: 0.4;
      position: absolute;
      bottom: -31px;
      width: 100%;
      padding: 5px 7px;

      a .fa {
        padding: 3px 3px 4px 4px;
        border-radius: 4px;
      }

      a:hover .fa {
        background-color: #ebebeb;
      }
    }

    &:hover .entry-tools {
      bottom: 0;
    }
  }

  > :nth-child(2n + 0):not(.text-center) { float: right; }
}

.info {
  dl {
    margin-bottom: 5px;
  }
  dt.label {
    background-color: #2B3E53;
  }
  pre {
    padding: 5px 10px;
  }
}

/* Dropzone */

.dropzone {
  border: 0 none;
}

/* Theme Tweaks */
.label {
  line-height: 1.8;
}
#form-image img {
  max-width: 100%;
}

/* Custom Elements */

#search-form {
  padding-top: 6px;
  width: 12em;
  // transition: width 0.1s ease-in-out; 
  // &:focus { width: 15em; } // this didn't work
}
