<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true" class="fa fa-times"></span>
  </button>
  
  <h4 class="modal-title">
    <%= yield :modal_title %>
  </h4>
</div>
<div class="modal-body row">
  <%= yield %>
</div>